
html,
body {
  height: 100%;
  background-color: #333;
}

body {
  display: -ms-flexbox;
  display: flex;
  color: #fff;
  text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .0);
  box-shadow: inset 0 0 5rem rgba(0, 0, 0, .0);
}

.cover-container {
  max-width: 42em;
}

.btn-group, .btn-group-vertical {
    
    position: absolute;
    display: -ms-inline-flexbox;
    display: block;
    /* vertical-align: bottom; */
    
  }


  .images{
    padding-top: 4em;

  }

#photos {
    /*Prevent vertical gaps */
   line-height: 0px;
   
   -webkit-column-count: 1;
   -webkit-column-gap:   7px;
   -moz-column-count:    1;
   -moz-column-gap:      7px;
   column-count:         3;
   column-gap:           18px;

}

#photos img {
   /*Just in case there are inline attributes */
  width: 100%;
  height: relative;
}


.ImageResult {
    padding-bottom: 18px;
}





@media only screen and (max-device-width: 480px) {
   


  body{
    width: 100%;
  }

  .images {
    padding-top: 35px;
}
    #photos{
      column-gap: 5px;
    }
    .ImageResult{
      padding-bottom: 5px;
    }
    .h1{
      padding-top: 5px;
    }
    form{
      padding-bottom: 8px;
    }

  input[type="email"],
  input[type="number"],
  input[type="search"],
  input[type="text"],
  input[type="tel"],
  input[type="url"],
  input[type="password"],
  textarea,
  select {
    height: 30px;

  }

  .button, button, input[type="submit"] {

      height: 30px;
  }

  .btn-primary {
      padding: 0px 17px;
  }



  .btn-secondary{
    font-size: 8px;
  }

  .ImageResult a {
    font-size: x-small;
    padding-left: 12px;
  }


}

















































@media (min-width: 767px) and (max-width: 1024px) {
  
  .ImageResult{
    padding-bottom: 10px;
  }

  #photos{
    column-gap: 10px;
  }
}
















  
